* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Logo */
#imagenLogo{
    width: 12vh;
}
/* Termina logo */

/* barra nav */
.navbar{
    background-color: #272727;
}

.navbar #navbarNav li a{
   color: #00AAE4;
}

.navbar #navbarNav li .borde{
    border-right: 2px solid #00abe43e;
 }

#menuHamburgesa{
    background-color: #00AAE4;
}
/* fin barra nav */


/* contenido princiapl */
main{
    background-image: url(../img/Fondo-cv.png);
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

    display: flex;
    align-items: center;
    justify-content: center;
}

#tarjetaPrincipal{
    width: 300px;
    height: 380px;

    

    position: relative;
}

#tarjetaPrincipal #imagenPrincpal{
    width: 75%;
    height:60%;
    border-radius: 50%;
    border: 3px solid #00AAE4;
    padding: 3px;
    box-shadow: 0px 0px 5px #00AAE4;
    z-index: 1;

    position: absolute;
    left: 40px;
    bottom: 160px;
}
#tarjetaPrincipal #imagenPrincpal img{
    background-image: url(../img/imagen_cv.jpg);
    background-size: cover;
    background-position: -2px -18px ;
    background-repeat: no-repeat;

    width: 100%;
    height:100%;
    border-radius: 50%;
}


#tarjetaPrincipal #cuadroPrincipal{
    width: 100%;
    height: 75%;
    background-color: #272727 ;
    border-radius: 40px;

    position: relative;
    top: 100px;
    

}
#tarjetaPrincipal #cuadroPrincipal #cajaTexto{
    width: 100%;
    height: 55%;
    position: relative;
    top: 120px;

    display: flex;
    flex-direction: column;
    text-align: center;
}
#tarjetaPrincipal #cuadroPrincipal #cajaTexto h1{
    color: white;
}
#tarjetaPrincipal #cuadroPrincipal #cajaTexto p{
    color: white;
}

#tarjetaPrincipal #cuadroPrincipal #cajaTexto #contenedorIconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#tarjetaPrincipal #cuadroPrincipal #cajaTexto #contenedorIconos .bi{
    color: #00AAE4;
}
/* Fin contenido princiapal */



/* Acerca de mi */
#acercaDeMi{
    background-color: #303030 ;
    padding-top: 80px;
    padding-bottom: 50vh;

    position: relative;
}

#contenedorimagen{
    display: flex;
    
    align-items: center;
    justify-content: center;

}
#contenedorimagen #acercaDeMi_imagen{
    width: 55%;
    height: 80%;
}
#contenedorimagen #acercaDeMi_imagen #imagenInformacionPersonal{
    background-image: url(../img/imgane2_cv.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vh;
    height: 50vh;
    border-radius: 8px;
    box-shadow: 15px 15px 5px #00AAE4;
}



#contenedordatosPersonales{
    display: grid   ;
    height: 100%;
    grid-template-rows: 200px 230px;
    
}
#contenedordatosPersonales #infromacionAcercaDeMi{
    width: 100%;
    padding: 5px;
}
#contenedordatosPersonales #infromacionAcercaDeMi h2{
    color: white;
    font-weight: 800;
    letter-spacing: 3px;
}
#contenedordatosPersonales #infromacionAcercaDeMi p{
    color: white;
    text-indent: 50px; /*  sangría */
    line-height: 1.6;
    padding-left: 5%;
}

/* Datos personales */
#contenedordatosPersonales #datosPersonales{
    border: 2px solid #00AAE4;
    width: 100%;    
    color: white;
    padding: 5px;
}

table tr td{
    padding: 5px;
    padding-left: 10%;
}

table tr td:first-child{
    color: #00AAE4;
}

.btnCv{
    display: flex;
    align-items: end;
    justify-content: end;
}
.btnCv button{
    color: #00AAE4;
    border: 1px solid #00AAE4;
}


/* Fin acerca de mi */



/* curriculum */



.contenedorCV{
    background-color: #272727;
    color: white;
    border: 1px solid #272727;
}

.contenedorCV h2{
    margin-top: 50px;
    font-weight: 800;
    letter-spacing: 2px;
}

#educacion{
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding-top: 50px;
}

#educacion .experiencia{
    /* border: 1px solid blue; */
    text-align: left;
}

#educacion .experiencia h3{
    color: #00AAE4;
    font-weight: 800;
}
#educacion .experiencia h4{
    font-size: 2vh;
    font-weight: bold;
}

#educacion .experiencia_left{
    text-align: right;
}


.linea{
    background-color: #00AAE4;
    position: relative;
}

.linea::before, 
.linea::after{
    background-color: #00AAE4;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -9px;
}

.linea::after{
    top: 100%;
}
/* Fin curriculum */


/* Seccion habilidades  */

#seccionHabilidades{
    position: relative;
    padding: 60vh 0px 25vh 0px;
    background-color: #303030 ;
    
}

#tituloHabilidades{
    text-align: center;
    padding-bottom: 20px;
    color: white;
    font-weight: 800;
    letter-spacing: 3px;
}

#seccionHabilidades  .contenedorHabilidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#seccionHabilidades  .contenedorHabilidad .tipoHabilidad{
    color: white;
    font-weight: 600;
    padding-top: 90px;
}

#seccionHabilidades  .contenedorHabilidad h3{
    color: white;
    font-weight: 600;
}


#seccionHabilidades  .contenedorHabilidad .habilidad{
    width: 50%;
}

#seccionHabilidades   .habilidad .tituloIconos{
    display: flex;
    align-items: center;
}
#seccionHabilidades  .contenedorHabilidad .habilidad .tituloIconos h3{
    font-size: 2vh;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
}

#seccionHabilidades  .contenedorHabilidad .habilidad .tituloIconos .iconos{
    font-size: 6vh;
    margin: 10px; 
}

.icono_html{
    color: #DD4B25;
}
 .icono_css{
    color: #2862E9;
}
.icono_js{
    color: #EFD81D;
}
.icono_sql{
    color: gray;
}
.icono_angular{
    color: #BD002E;
}
.icono_bs{
    color: #8210F5;
}
.icono_comunicacion{
    color: #8210F5;
}
.icono_equipo{
    color: #8210F5;
}
.icono_adaptabilidad{
    color: yellow;
}
.icono_creatividad{
    color: yellow;
}


#seccionHabilidades  .contenedorHabilidad .habilidad h3{
    margin-bottom: 10px;
}

#seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad{
    height: 8px;
    width: 80%;
    background-color: gray;
    border-radius: 12px;
    position: relative;
    margin-bottom: 30px;
    
}




#seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .progreso{
   background-color: #00AAE4;
   border-radius: 12px;
   position: absolute;
   top: 0px;
   left: 0;
   height: 8px;
   width: 0%;
   animation: 2s animacion forwards;
}
#seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .html{
    width: 0%;
    animation: 2s html forwards;
 }
 #seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .css{
    width: 0%;
    animation: 2s css forwards;
 }
 #seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .js{
    width: 0%;
    animation: 2s js forwards;
 }
 #seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .sql{
    width: 0%;
    animation: 2s sql forwards;
 }
 #seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .angular{
    width: 0%;
    animation: 2s angular forwards;
 }
 #seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .bs{
    width: 0%;
    animation: 2s bs forwards;
 }
 #seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
 }
 #seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .equipo{
    width: 0%;
    animation: 2s equipo forwards;
 }
 #seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .adaptabilidad{
    width: 0%;
    animation: 2s adaptabilidad forwards;
 }
 #seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
 }

@keyframes html{
    0%{width:0%}
    100%{width: 90%;}
}
@keyframes css{
    0%{width:0%}
    100%{width: 80%;}
}
@keyframes js{
    0%{width:0%}
    100%{width: 80%;}
}
@keyframes sql{
    0%{width:0%}
    100%{width: 90%;}
}
@keyframes angular{
    0%{width:0%}
    100%{width: 50%;}
}
@keyframes bs{
    0%{width:0%}
    100%{width: 78%;}
}

@keyframes comunicacion{
    0%{width:0%}
    100%{width: 95%;}
}
@keyframes equipo{
    0%{width:0%}
    100%{width: 90%;}
}
@keyframes adaptabilidad{
    0%{width:0%}
    100%{width: 95%;}
}
@keyframes creatividad{
    0%{width:0%}
    100%{width: 90%;}
}



/* Mis proyectos */
#misProyectos{
    background-color: #272727;
    padding: 80px 0px 80px 0px;
 
    
}

#misProyectos .contenedorProyectos{
    margin-top: 45px;
}


#misProyectos .contenedorProyectos .proyectos{
    background-color:#303030;
    padding: 30px 0px 30px 0px;
    border-radius: 50px 0px 50px 0px;
}

.tecnoUtilizada{
    display: flex; 
    flex-direction: row;
    padding: 10px 0px 20px 0px;

}

#misProyectos .contenedorProyectos .proyectos .tituloProyecto{
    color: #00AAE4;
}

#misProyectos .contenedorProyectos .proyectos .parrafoProyecto{
    color: white;
    padding-bottom: 10px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

#misProyectos .contenedorProyectos .proyectos .tituloTecnologiaUtilizada{
    font-size: 2vh;
    color: white;
}

.tecnoUtilizada .iconos{
    font-size: 150%;
    flex-grow: 1;
}


/* Fin mis proyectos */



/* Seccion formulario */

#contenedorfomrulario{
    background-color: #303030   ;
    padding:28% 0px 80px 0px ;
    position: relative;
}

.bi{
    color: #00AAE4;
}


#formulario{
    width: 70%;
}

.form-group{
    margin-top: 5px;
    margin-bottom: 30px;
}

.form-group .input{
    border: none;
    border-bottom: 1px solid #00AAE4;
    background-color: transparent;
    outline: none;
    border-radius: 0px;
    transition: transform 0.2s ease-in-out; 
    color: white;
}

.form-group .input:focus{
    outline: none; /* Eliminar el borde al enfocar */
    box-shadow: none; /* Eliminar la sombra al enfocar */
    border-color: initial; /* Utiliza el color de borde inicial (sin estilos) */
    border-bottom: 3px solid #00AAE4;
    transform: scale(1.02); /* Aumenta el tamaño ligeramente */
    background-color: transparent;
    color: white;
}

.form-group .input::placeholder {
    color: rgba(255, 255, 255, 0.382); /* Cambia el color del marcador de posición a rojo (#FF0000) */
}

#btnEnviar{
    background: linear-gradient(to right, black 50%, #DD4B25 50%); /* Fondo con gradiente */
    background-size: 200% 100%; /* Tamaño del fondo degradado */
    color: white; /* Color del texto */
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    transition: background-position 0.3s ease; /* Transición de color */

}
#btnEnviar:hover{
    background-position: -100% 0; /* Color que se mostrará al pasar el mouse */

}

#mapa{
    border-radius: 5px;
    width: 70%;
}

#infoPersonal{
    padding: 80px 0px 80px 0px;
}


.contenedorInfoPersonal{
    width: 70%;
}

.contenedorInfoPersonal .tituloIcono{
    color: white;
}

.contenedorInfoPersonal  p{
    color: white;
}

.contMedio{
    border-left: 2px solid #00AAE4; border-right: 2px solid #00AAE4;
}

.contenedorInfoPersonal .tituloIcono{
    margin-top: 10px;
    font-size: 18px;
}

.aviso{
    color: red;
    font-size: 10px;
    font-weight: bold;
}

.avisoNombre{
    display: none;
}
.avisoTema{
    display: none;
}
.avisoMail{
    display: none;
}
.avisoTelefono{
    display: none;
}
.avisoDescripcion{
    display: none;
}



/* Fin seccion fomrulario */


#seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .progreso span{
   position: absolute;
   height: 40px;
   width: 40px;
   background-color: #272727;
   border: 1px solid #00AAE4;
   color: white;
   border-radius: 50px;
   line-height: 35px;
   text-align: center;
   top: -17px;
   right: -15px;
   font-size: 14px;

 }







/* Fin habilidades */


@media (max-width:758px){
    #contenedordatosPersonales{
        margin-top: 20%;
        grid-template-rows: 350px 280px;
    }

    .btnCv{
        justify-content: center;
        padding-top: 5%;
    }

    /* barra nav */
    .navbar{
        text-align: center;
    }


    #acercaDeMi{
        padding-bottom: 20vh;
    }

    #seccionHabilidades{
        padding-top: 20vh;
        
    }

    /* Fomrulario */

    .contMedio{
        border-left: 0px;
        border-right: 0px;
    }

    #infoPersonal{
        padding: 0px 0px 0px 0px;
    }

    .contenedorInfoPersonal{
        padding: 50px 0px 50px 0px;
    }

    .contenedorInfoPersonal-m{
        border-top: 2px solid #00AAE4; 
        border-bottom: 2px solid #00AAE4;
    }

    #contenedorMapa{
        padding-top: 50px;
    }
    /* Fin fomrulario */

    
}

@media (max-width:500px){

    

    #contenedorimagen #acercaDeMi_imagen #imagenInformacionPersonal{
        width: 20vh;
        height: 30vh;
    }

    #educacion{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 0px;
        
        
    }   
    
    .linea{
        display: none;
    }

    #educacion .experiencia{
        width: 60%;
        margin: 0 auto;
    }

    #educacion .experiencia_left{
        text-align: left;
    }


    #seccionHabilidades  .contenedorHabilidad .habilidad .barraHabilidad .progreso span{
        height: 35px;
        width: 35px;
        top: -15px;
        right: -10px;
        font-size: 12px;
     
    }

    #seccionHabilidades  .contenedorHabilidad .habilidad .tituloIconos h3{
        font-size: 12px;
    }

    #seccionHabilidades  .contenedorHabilidad .habilidad .tituloIconos .iconos{
        font-size: 4vh;
        margin: 10px; 
    }
}


@media (max-width:340px){
    #contenedordatosPersonales{
        margin-top: 20%;
        grid-template-rows: 50vh 300px;
    }

    table tr td{
        font-size: 14px;
        padding: 5px;
        padding-left: 10%;
    }
    
}
