* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Logo */
#imagenLogo{
    width: 12vh;
}
/* Termina logo */

/* barra nav */
.navbar{
    background-color: #272727;
}

.navbar #navbarNav li a{
   color: #00AAE4;
}

#menuHamburgesa{
    background-color: #00AAE4;
}
/* fin barra nav */


/* contenido princiapl */
main{
    background-image: url(../img/Fondo-cv.png);
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

    display: flex;
    align-items: center;
    justify-content: center;
}

#tarjetaPrincipal{
    width: 300px;
    height: 380px;

    

    position: relative;
}

#tarjetaPrincipal #imagenPrincpal{
    width: 75%;
    height:60%;
    border-radius: 50%;
    border: 3px solid #00AAE4;
    padding: 3px;
    box-shadow: 0px 0px 5px #00AAE4;
    z-index: 1;
    

    position: absolute;
    left: 40px;
    bottom: 160px;
}
#tarjetaPrincipal #imagenPrincpal img{
    width: 100%;
    height:100%;
    border-radius: 50%;
}


#tarjetaPrincipal #cuadroPrincipal{
    width: 100%;
    height: 75%;
    background-color: #272727 ;
    border-radius: 40px;

    position: relative;
    top: 100px;
    

}
#tarjetaPrincipal #cuadroPrincipal #cajaTexto{
    width: 100%;
    height: 55%;
    position: relative;
    top: 120px;

    display: flex;
    flex-direction: column;
    text-align: center;
}
#tarjetaPrincipal #cuadroPrincipal #cajaTexto h1{
    color: white;
}
#tarjetaPrincipal #cuadroPrincipal #cajaTexto p{
    color: white;
}

#tarjetaPrincipal #cuadroPrincipal #cajaTexto #contenedorIconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#tarjetaPrincipal #cuadroPrincipal #cajaTexto #contenedorIconos .bi{
    color: #00AAE4;
}
/* Fin contenido princiapal */



/* Acerca de mi */
#acercaDeMi{
    background-color: #303030 ;
    padding-top: 80px;
    padding-bottom: 200px;

    position: relative;
}

#contenedorimagen{
    display: flex;
    
    align-items: center;
    justify-content: center;

}
#contenedorimagen #acercaDeMi_imagen{
    width: 55%;
    height: 80%;
}
#contenedorimagen #acercaDeMi_imagen #imagenInformacionPersonal{
    background-color: #00AAE4;
    width: 40vh;
    height: 50vh;
    border-radius: 8px;
    box-shadow: 15px 15px 5px white;
}



#contenedordatosPersonales{
    display: grid   ;
    height: 100%;
    grid-template-rows: 200px 230px;
    
}
#contenedordatosPersonales #infromacionAcercaDeMi{
    width: 100%;
    padding: 5px;
}
#contenedordatosPersonales #infromacionAcercaDeMi h2{
    color: white;
    font-weight: 800;
    letter-spacing: 3px;
}
#contenedordatosPersonales #infromacionAcercaDeMi p{
    color: white;
    text-indent: 50px; /*  sangría */
    line-height: 1.6;
    padding-left: 5%;
}

/* Datos personales */
#contenedordatosPersonales #datosPersonales{
    border: 2px solid #00AAE4;
    width: 100%;    
    color: white;
    padding: 5px;
}

table tr td{
    padding: 5px;
    padding-left: 10%;
}

table tr td:first-child{
    color: #00AAE4;
}

.btnCv{
    display: flex;
    align-items: end;
    justify-content: end;
}
.btnCv button{
    color: #00AAE4;
    border: 1px solid #00AAE4;
}


/* Fin acerca de mi */



/* curriculum */



.contenedorCV{
    background-color: #272727;
    color: white;
    padding-bottom: 40px;
    border: 1px solid #272727;
}

.contenedorCV h2{
    margin-top: 50px;
    font-weight: 800;
    letter-spacing: 2px;
}

#educacion{
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding-top: 50px;
}

#educacion .experiencia{
    /* border: 1px solid blue; */
    text-align: left;
}

#educacion .experiencia h3{
    color: #00AAE4;
    font-weight: 800;
}
#educacion .experiencia h4{
    font-size: 2vh;
    font-weight: bold;
}

#educacion .experiencia_left{
    text-align: right;
}


.linea{
    background-color: #00AAE4;
    position: relative;
}

.linea::before, 
.linea::after{
    background-color: #00AAE4;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -9px;
}

.linea::after{
    top: 100%;
}


/* Fin curriculum */


@media (max-width:758px){
    #contenedordatosPersonales{
        margin-top: 20%;
        grid-template-rows: 350px 280px;
    }

    .btnCv{
        justify-content: center;
        padding-top: 5%;
    }

    /* barra nav */
    .navbar{
        text-align: center;
    }

    
}

@media (max-width:500px){

    #acercaDeMi{
        padding-bottom: 100px;
    }

    #contenedorimagen #acercaDeMi_imagen #imagenInformacionPersonal{
        width: 20vh;
        height: 30vh;
    }

    #educacion{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 0px;
        
        
    }   
    
    .linea{
        display: none;
    }

    #educacion .experiencia{
        width: 60%;
        margin: 0 auto;
    }

    #educacion .experiencia_left{
        text-align: left;
    }
}

